<app-menu></app-menu>
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-card class="card">
      <ion-grid style="padding:0px 20px;">
        <ion-row>
          <ion-col size="4">
            <ion-input placeholder="Search" class="form-control" type="text"></ion-input>
          </ion-col>
          <ion-col offset="4" size="4">
            <ion-icon (click)="createNew()" style="font-size: 2.3rem; float:right" name="add-circle-sharp"></ion-icon>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid style="padding:0px 20px;">
        <ion-row>
          <ion-col>
            <table class="table-summary label-bold">
              <thead class="table-header">
                <tr>
                  <th *ngFor="let item of CATEGORY_ELEMENT_COL">{{item.title}}</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of Category; let i=index;">
                  <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.brand}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.stock}}</td>
                    <td>
                      <ion-icon name="build-sharp" (click)="createNew(item)"></ion-icon>
                      <ion-icon name="trash-sharp" (click)="delete(item)"></ion-icon>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>
</ion-content>