<ion-header>
  <ion-toolbar class="toolbar-primary">
    <ion-title>Create New Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <form class="form" [formGroup]="createForm">
      <ion-card class="px15-py15">
        <ion-row>

          <ion-col size="3" >
            <ion-label class="control-label ">Category</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-select class="form-control" formControlName="category" placeholder="Category">
              <ion-select-option [value]=item.name *ngFor="let item of categoryOption">{{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col size="3" >
            <ion-label class="control-label ">Name</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-input class="form-control" formControlName="name" placeholder="Name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" >
            <ion-label class="control-label ">Brand</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-input class="form-control" formControlName="brand" placeholder="Brand"></ion-input>
          </ion-col>
        </ion-row>
       
        <ion-row>
          <ion-col size="3" >
            <ion-label class="control-label ">Size</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-input class="form-control" formControlName="size" placeholder="Size"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" >
            <ion-label class="control-label ">Price</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-input class="form-control" type="number" formControlName="price" placeholder="Price"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" >
            <ion-label class="control-label ">Stock</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-input class="form-control" formControlName="stock" placeholder="Stock"></ion-input>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-row style="float: right;">
        <ion-col>
          <ion-button class="btn-save" [disabled]="createForm.invalid" (click)="saveNewData()">Save</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btn" (click)="cancel()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </form>

  </ion-grid>
</ion-content>